In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\jesic\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df_kepesertaan = pd.read_stata('D:\Data Sampel Final 2022-20230608T163803Z-001\Data Sampel Final 2022\Kontekstual TB\df_kepesertaan.dta')

In [3]:
df_fkrtl_TB20152021 = pd.read_stata('D:\Data Sampel Final 2022-20230608T163803Z-001\Data Sampel Final 2022\Kontekstual TB\TB20152021_fkrtl.dta')

In [4]:
df_fktpnonkapitasi_TB20152021 = pd.read_stata('D:\Data Sampel Final 2022-20230608T163803Z-001\Data Sampel Final 2022\Kontekstual TB\TB20152021_fktpnonkapitasi.dta')

# <span style="color:red">Data Cleaning

### <span style="color:red">Mengatasi Missing Values

In [5]:
from sklearn.impute import SimpleImputer

In [6]:
imputer = SimpleImputer(strategy='most_frequent')
df_kepesertaan = pd.DataFrame(imputer.fit_transform(df_kepesertaan), columns=df_kepesertaan.columns)

In [7]:
df_fkrtl_TB20152021 = pd.DataFrame(imputer.fit_transform(df_fkrtl_TB20152021), columns=df_fkrtl_TB20152021.columns)
df_fktpnonkapitasi_TB20152021 = pd.DataFrame(imputer.fit_transform(df_fktpnonkapitasi_TB20152021), columns=df_fktpnonkapitasi_TB20152021.columns)

In [8]:
df_kepesertaan.isnull().sum()

index     0
PSTV01    0
PSTV02    0
PSTV03    0
PSTV04    0
PSTV05    0
PSTV06    0
PSTV07    0
PSTV08    0
PSTV09    0
PSTV10    0
PSTV11    0
PSTV12    0
PSTV13    0
PSTV14    0
PSTV15    0
PSTV16    0
PSTV17    0
PSTV18    0
Tahun     0
dtype: int64

In [9]:
df_fkrtl_TB20152021.isnull().sum()

PSTV01    0
PSTV02    0
PSTV15    0
FKP02     0
FKL02     0
FKL03     0
FKL04     0
FKL05     0
FKL06     0
FKL07     0
FKL08     0
FKL09     0
FKL10     0
FKL11     0
FKL12     0
FKL13     0
FKL14     0
FKL15     0
FKL15A    0
FKL16     0
FKL16A    0
FKL17     0
FKL17A    0
FKL18     0
FKL18A    0
FKL19     0
FKL19A    0
FKL20     0
FKL21     0
FKL22     0
FKL23     0
FKL25     0
FKL26     0
FKL27     0
FKL28     0
FKL29     0
FKL30     0
FKL31     0
FKL32     0
FKL33     0
FKL34     0
FKL35     0
FKL36     0
FKL37     0
FKL38     0
FKL39     0
FKL40     0
FKL41     0
FKL42     0
FKL43     0
FKL44     0
FKL45     0
FKL46     0
FKL47     0
FKL48     0
dtype: int64

In [10]:
df_fktpnonkapitasi_TB20152021.isnull().sum()

PSTV01    0
PSTV02    0
PSTV15    0
PNK02     0
PNK03     0
PNK04     0
PNK05     0
PNK06     0
PNK07     0
PNK08     0
PNK09     0
PNK10     0
PNK11     0
PNK12     0
PNK13     0
PNK13A    0
PNK14     0
PNK15     0
PNK16     0
PNK17     0
PNK18     0
dtype: int64

### <span style="color:red">Menghapus Data Duplikat

In [11]:
df_kepesertaan = df_kepesertaan.drop_duplicates()
df_fkrtl_TB20152021 = df_fkrtl_TB20152021.drop_duplicates()
df_fktpnonkapitasi_TB20152021 = df_fktpnonkapitasi_TB20152021.drop_duplicates()

In [12]:
df_kepesertaan.duplicated().sum()

0

In [13]:
df_fkrtl_TB20152021.duplicated().sum()

0

In [14]:
df_fktpnonkapitasi_TB20152021.duplicated().sum()

0

### <span style="color:red">Memastikan Format Data

In [15]:
df_kepesertaan['PSTV03'] = pd.to_datetime(df_kepesertaan['PSTV03'], errors='coerce')
df_fkrtl_TB20152021['FKL03'] = pd.to_datetime(df_fkrtl_TB20152021['FKL03'], errors='coerce')
df_fktpnonkapitasi_TB20152021['PNK03'] = pd.to_datetime(df_fktpnonkapitasi_TB20152021['PNK03'], errors='coerce')

In [16]:
df_kepesertaan.dtypes

index             object
PSTV01            object
PSTV02            object
PSTV03    datetime64[ns]
PSTV04            object
PSTV05            object
PSTV06            object
PSTV07            object
PSTV08            object
PSTV09            object
PSTV10            object
PSTV11            object
PSTV12            object
PSTV13            object
PSTV14            object
PSTV15            object
PSTV16            object
PSTV17            object
PSTV18            object
Tahun             object
dtype: object

In [17]:
df_fkrtl_TB20152021.dtypes

PSTV01            object
PSTV02            object
PSTV15            object
FKP02             object
FKL02             object
FKL03     datetime64[ns]
FKL04     datetime64[ns]
FKL05             object
FKL06             object
FKL07             object
FKL08             object
FKL09             object
FKL10             object
FKL11             object
FKL12             object
FKL13             object
FKL14             object
FKL15             object
FKL15A            object
FKL16             object
FKL16A            object
FKL17             object
FKL17A            object
FKL18             object
FKL18A            object
FKL19             object
FKL19A            object
FKL20             object
FKL21             object
FKL22             object
FKL23             object
FKL25             object
FKL26             object
FKL27             object
FKL28             object
FKL29             object
FKL30             object
FKL31             object
FKL32             object
FKL33             object
FKL34             object
FKL35             object
FKL36             object
FKL37             object
FKL38             object
FKL39             object
FKL40             object
FKL41             object
FKL42             object
FKL43             object
FKL44             object
FKL45             object
FKL46             object
FKL47             object
FKL48             object
dtype: object

In [18]:
df_fktpnonkapitasi_TB20152021.dtypes

PSTV01            object
PSTV02            object
PSTV15            object
PNK02             object
PNK03     datetime64[ns]
PNK04     datetime64[ns]
PNK05     datetime64[ns]
PNK06             object
PNK07             object
PNK08             object
PNK09             object
PNK10             object
PNK11             object
PNK12             object
PNK13             object
PNK13A            object
PNK14             object
PNK15             object
PNK16             object
PNK17             object
PNK18             object
dtype: object

### <span style="color:red">Menangani Kolom Kategorikal

In [19]:
from sklearn.preprocessing import LabelEncoder

In [20]:
# Mengonversi kolom kategorikal menjadi numerik
label_encoder = LabelEncoder()

In [21]:
df_kepesertaan['PSTV05'] = label_encoder.fit_transform(df_kepesertaan['PSTV05'])  # Jenis Kelamin
df_kepesertaan['PSTV09'] = label_encoder.fit_transform(df_kepesertaan['PSTV09'])  # Provinsi Tempat Tinggal
df_kepesertaan['PSTV10'] = label_encoder.fit_transform(df_kepesertaan['PSTV10'])  # Kabupaten/Kota Tempat Tinggal
df_kepesertaan['PSTV12'] = label_encoder.fit_transform(df_kepesertaan['PSTV12'])  # Jenis Faskes
df_kepesertaan['PSTV13'] = label_encoder.fit_transform(df_kepesertaan['PSTV13'])  # Provinsi Faskes

In [22]:
df_kepesertaan

,index,PSTV01,PSTV02,PSTV03,PSTV04,PSTV05,PSTV06,PSTV07,PSTV08,PSTV09,PSTV10,PSTV11,PSTV12,PSTV13,PSTV14,PSTV15,PSTV16,PSTV17,PSTV18,Tahun
0,0,21611150,21611150,1957-09-12,PESERTA,1,KAWIN,KELAS I,PPU,0,2,PEMERINTAH KABUPATEN/KOTA,2,0,ACEH BESAR,1.157796,2019,AKTIF,0.0,2019
1,1,94343049,96772919,1961-12-03,SUAMI,0,KAWIN,KELAS I,PPU,0,8,PEMERINTAH KABUPATEN/KOTA,2,0,ACEH TENGGARA,1.556821,2019,AKTIF,0.0,2019
2,2,83393824,298548714,2002-10-05,ANAK,0,BELUM KAWIN,KELAS I,PPU,0,8,PEMERINTAH KABUPATEN/KOTA,2,0,ACEH TENGGARA,1.159913,2019,AKTIF,0.0,2019
3,3,328537885,328537885,1989-07-13,PESERTA,1,BELUM KAWIN,KELAS III,PBI APBD,0,6,PEMERINTAH KABUPATEN/KOTA,2,0,ACEH TAMIANG,9.436164,2019,AKTIF,0.0,2019
4,4,67805935,67805935,1972-11-13,PESERTA,0,KAWIN,KELAS I,PPU,0,6,PEMERINTAH KABUPATEN/KOTA,2,0,ACEH TAMIANG,0.899331,2019,AKTIF,0.0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94961,94961,446945417,446945417,1984-12-31,PESERTA,0,KAWIN,KELAS III,PBPU,21,300,PEMERINTAH KABUPATEN/KOTA,2,21,LOMBOK BARAT,3.70605,2019,AKTIF,0.0,2019
94962,94962,339605943,286316180,1989-03-17,ISTRI,1,KAWIN,KELAS III,PBPU,8,460,PEMERINTAH KABUPATEN/KOTA,2,8,SUKABUMI,35.093258,2019,TIDAK AKTIF,0.0,2019
94963,94963,292512825,301371045,1979-05-31,ISTRI,1,KAWIN,KELAS III,PBPU,32,97,SWASTA,0,32,EMPAT LAWANG,2.652437,2019,AKTIF,0.0,2019
94964,94964,412069355,412069355,1970-02-17,PESERTA,0,KAWIN,KELAS III,PBPU,33,486,SWASTA,0,33,TAPANULI TENGAH,14.15259,2019,MENINGGAL,2019.0,2019
94965,94965,354440860,354440860,2000-09-23,PESERTA,1,BELUM KAWIN,KELAS II,PBPU,9,396,PEMERINTAH KABUPATEN/KOTA,2,9,PEMALANG,1.2245,2019,AKTIF,0.0,2019

In [23]:
df_fkrtl_TB20152021['FKL05'] = label_encoder.fit_transform(df_fkrtl_TB20152021['FKL05'])  # Provinsi FKRTL
df_fkrtl_TB20152021['FKL06'] = label_encoder.fit_transform(df_fkrtl_TB20152021['FKL06'])  # Kabupaten/Kota FKRTL
df_fkrtl_TB20152021['FKL07'] = label_encoder.fit_transform(df_fkrtl_TB20152021['FKL07'])  # Kepemilikan FKRTL
df_fkrtl_TB20152021['FKL08'] = label_encoder.fit_transform(df_fkrtl_TB20152021['FKL08'])  # Jenis FKRTL

In [24]:
df_fkrtl_TB20152021

,PSTV01,PSTV02,PSTV15,FKP02,FKL02,FKL03,FKL04,FKL05,FKL06,FKL07,...,FKL39,FKL40,FKL41,FKL42,FKL43,FKL44,FKL45,FKL46,FKL47,FKL48
0,96934726,96934726,0.899331,,1000801150000582,2015-01-21,2015-01-21,23,121,2,...,,0.0,,,0.0,,,0.0,166300,166300
1,11315168,11315168,0.938273,,1000801150001076,2015-01-13,2015-01-13,23,121,2,...,,0.0,,,0.0,,,0.0,255200,255200
2,48014275,20325942,0.998232,,1000801160000002,2016-01-02,2016-01-06,23,121,2,...,,0.0,,,0.0,,,0.0,1515300,1515300
3,78552717,3459550,1.205653,,1000801160000219,2016-01-08,2016-01-08,23,121,2,...,,0.0,,,0.0,,,0.0,128600,128600
4,48014275,20325942,0.998232,,1000801160000321,2016-01-11,2016-01-11,23,121,2,...,,0.0,,,0.0,,,0.0,166300,166300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1583237,5759906,80881339,1.479716,99521219P000543,99591219V000217,2019-12-18,2019-12-18,5,151,3,...,,0.0,,,0.0,,,0.0,176200,176200
1583238,34060166,34060166,1.142161,99531219Y000590,99591219V000223,2019-12-18,2019-12-18,5,151,3,...,,0.0,,,0.0,,,0.0,176200,176200
1583239,53933488,53933488,1.161441,,99591219V000267,2019-12-22,2019-12-22,5,151,3,...,,0.0,,,0.0,,,0.0,176200,176200
1583240,27230440,27230440,1.446868,,99591220V000092,2020-12-11,2020-12-11,5,151,3,...,,0.0,,,0.0,,,0.0,229900,229900
1583241,23942287,62394937,1.484943,99531220Y000405,99591220V000190,2020-12-28,2020-12-28,5,151,3,...,,0.0,,,0.0,,,0.0,173400,173400

In [25]:
df_fktpnonkapitasi_TB20152021['PNK06'] = label_encoder.fit_transform(df_fktpnonkapitasi_TB20152021['PNK06'])  # Provinsi Faskes
df_fktpnonkapitasi_TB20152021['PNK07'] = label_encoder.fit_transform(df_fktpnonkapitasi_TB20152021['PNK07'])  # Kabupaten/Kota Faskes
df_fktpnonkapitasi_TB20152021['PNK09'] = label_encoder.fit_transform(df_fktpnonkapitasi_TB20152021['PNK09'])  # Jenis Faskes

In [26]:
df_fktpnonkapitasi_TB20152021

,PSTV01,PSTV02,PSTV15,PNK02,PNK03,PNK04,PNK05,PNK06,PNK07,PNK08,...,PNK10,PNK11,PNK12,PNK13,PNK13A,PNK14,PNK15,PNK16,PNK17,PNK18
0,93858078,93216423,7.659537,183920215Y000376,2015-02-26,2015-02-26,2015-02-27,27,35,PEMERINTAH KABUPATEN/KOTA,...,RAWAT INAP,RITP,PBI APBN,E11 Type 2 diabetes mellitus,,9999,9999,Evakuasi medis / Ambulans Darat,120000,120000
1,93747649,346217457,1.800196,19500915Y000074,2015-09-21,2015-09-23,2015-09-23,12,440,PEMERINTAH KABUPATEN/KOTA,...,RAWAT INAP,RITP,PBI APBN,E11 Type 2 diabetes mellitus,,9999,9999,Rawat Inap di R. Perawatan Biasa,240000,240000
2,359887820,72989971,0.959155,250630919P000299,2019-09-26,2019-09-29,2019-09-29,23,112,TNI AD,...,KLINIK RAWAT INAP,RITP,PPU,A01 Typhoid and paratyphoid fevers,A01,A010,Typhoid fever,Rawat Inap di R. Perawatan Biasa,600000,600000
3,84126594,84126594,1.110887,326360919P001086,2019-09-09,2019-09-12,2019-09-12,9,377,PEMERINTAH KABUPATEN/KOTA,...,RAWAT INAP,RITP,PBI APBN,A01 Typhoid and paratyphoid fevers,A01,A01,Typhoid and paratyphoid fevers,Rawat Inap di R. Perawatan Biasa,480000,480000
4,87558937,62126532,32.451832,252721019P001142,2019-10-14,2019-10-17,2019-10-17,9,130,PEMERINTAH KABUPATEN/KOTA,...,RAWAT INAP,RITP,PBI APBN,A01 Typhoid and paratyphoid fevers,A01,A01,Typhoid and paratyphoid fevers,Rawat Inap di R. Perawatan Biasa,600000,600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36488,107435122,107435122,17.946516,108680818Y000770,2018-08-06,2018-08-06,2018-08-06,27,458,PEMERINTAH KABUPATEN/KOTA,...,RAWAT INAP,RJTP,PBI APBN,Z97 Presence of other devices,Z97,Z975,Presence of (intrauterine) contraceptive device,Pelayanan KB : Pemasangan IUD / Implant,100000,100000
36489,447273237,435380768,2.33093,122070319Y000676,2019-03-09,2019-03-09,2019-03-09,10,454,PEMERINTAH KABUPATEN/KOTA,...,RAWAT INAP,RJTP,PBPU,Z97 Presence of other devices,Z97,Z975,Presence of (intrauterine) contraceptive device,Pelayanan KB : Pemasangan IUD / Implant,100000,100000
36490,80686271,426470275,1.154869,296600118Y000277,2018-01-20,2018-01-20,2018-01-20,24,375,PEMERINTAH KABUPATEN/KOTA,...,NON RAWAT INAP,RJTP,PBI APBD,Z97 Presence of other devices,Z97,Z975,Presence of (intrauterine) contraceptive device,Pelayanan KB : Suntik,15000,15000
36491,93887676,93887676,3.204735,296600517Y000031,2017-05-03,2017-05-03,2017-05-03,24,375,PEMERINTAH KABUPATEN/KOTA,...,NON RAWAT INAP,RJTP,PBI APBD,Z97 Presence of other devices,Z97,Z975,Presence of (intrauterine) contraceptive device,Pelayanan KB : Suntik,15000,15000
36492,93887676,93887676,3.204735,296600816Y000004,2016-08-01,2016-08-01,2016-08-01,24,375,PEMERINTAH KABUPATEN/KOTA,...,NON RAWAT INAP,RJTP,PBI APBD,Z97 Presence of other devices,Z97,Z975,Presence of (intrauterine) contraceptive device,Pelayanan KB : Suntik,15000,15000

### <span style="color:red">Menyaring Kolom yang Tidak Relevan

In [27]:
columns_kepesertaan = ['PSTV01','PSTV03', 'PSTV05', 'PSTV09', 'PSTV10', 'PSTV12', 'PSTV13', 'PSTV15', 'PSTV16']
df_kepesertaan_cleaned = df_kepesertaan[columns_kepesertaan]

In [28]:
columns_fkrtl = ['PSTV01', 'FKL03', 'FKL05', 'FKL06', 'FKL07', 'FKL08', 'FKL12', 'FKL14']
df_fkrtl_cleaned = df_fkrtl_TB20152021[columns_fkrtl]

In [29]:
columns_fktpnonkapitasi = ['PSTV01', 'PNK03', 'PNK06', 'PNK07', 'PNK09', 'PNK10', 'PNK12']
df_fktpnonkapitasi_cleaned = df_fktpnonkapitasi_TB20152021[columns_fktpnonkapitasi]

In [30]:
df_kepesertaan_cleaned

,PSTV01,PSTV03,PSTV05,PSTV09,PSTV10,PSTV12,PSTV13,PSTV15,PSTV16
0,21611150,1957-09-12,1,0,2,2,0,1.157796,2019
1,94343049,1961-12-03,0,0,8,2,0,1.556821,2019
2,83393824,2002-10-05,0,0,8,2,0,1.159913,2019
3,328537885,1989-07-13,1,0,6,2,0,9.436164,2019
4,67805935,1972-11-13,0,0,6,2,0,0.899331,2019
...,...,...,...,...,...,...,...,...,...
94961,446945417,1984-12-31,0,21,300,2,21,3.70605,2019
94962,339605943,1989-03-17,1,8,460,2,8,35.093258,2019
94963,292512825,1979-05-31,1,32,97,0,32,2.652437,2019
94964,412069355,1970-02-17,0,33,486,0,33,14.15259,2019
94965,354440860,2000-09-23,1,9,396,2,9,1.2245,2019

In [31]:
df_fktpnonkapitasi_cleaned

          PSTV01      PNK03  PNK06  PNK07  PNK09              PNK10     PNK12
0       93858078 2015-02-26     27     35      5         RAWAT INAP  PBI APBN
1       93747649 2015-09-21     12    440      5         RAWAT INAP  PBI APBN
2      359887820 2019-09-26     23    112      2  KLINIK RAWAT INAP       PPU
3       84126594 2019-09-09      9    377      5         RAWAT INAP  PBI APBN
4       87558937 2019-10-14      9    130      5         RAWAT INAP  PBI APBN
...          ...        ...    ...    ...    ...                ...       ...
36488  107435122 2018-08-06     27    458      5         RAWAT INAP  PBI APBN
36489  447273237 2019-03-09     10    454      5         RAWAT INAP      PBPU
36490   80686271 2018-01-20     24    375      5     NON RAWAT INAP  PBI APBD
36491   93887676 2017-05-03     24    375      5     NON RAWAT INAP  PBI APBD
36492   93887676 2016-08-01     24    375      5     NON RAWAT INAP  PBI APBD

[36006 rows x 7 columns]

In [32]:
df_fkrtl_cleaned

           PSTV01      FKL03  FKL05  FKL06  FKL07  FKL08     FKL12  FKL14
0        96934726 2015-01-21     23    121      2      2       PPU  Sehat
1        11315168 2015-01-13     23    121      2      2       PPU  Sehat
2        48014275 2016-01-02     23    121      2      2  PBI APBN  Sehat
3        78552717 2016-01-08     23    121      2      2      PBPU  Sehat
4        48014275 2016-01-11     23    121      2      2  PBI APBN  Sehat
...           ...        ...    ...    ...    ...    ...       ...    ...
1583237   5759906 2019-12-18      5    151      3      2  PBI APBD  Sehat
1583238  34060166 2019-12-18      5    151      3      2       PPU  Sehat
1583239  53933488 2019-12-22      5    151      3      2  PBI APBD  Sehat
1583240  27230440 2020-12-11      5    151      3      2  PBI APBN  Sehat
1583241  23942287 2020-12-28      5    151      3      2  PBI APBN  Sehat

[1583242 rows x 8 columns]

### <span style="color:red">Menyimpan Data Cleaned

In [33]:
df_kepesertaan_cleaned.to_csv('D:\Data Sampel Final 2022-20230608T163803Z-001\Data Sampel Final 2022\Kontekstual TB\df_kepesertaan_cleaned.csv', index=False)
df_fkrtl_cleaned.to_csv('D:\Data Sampel Final 2022-20230608T163803Z-001\Data Sampel Final 2022\Kontekstual TB\df_fkrtl_cleaned.csv', index=False)
df_fktpnonkapitasi_cleaned.to_csv('D:\Data Sampel Final 2022-20230608T163803Z-001\Data Sampel Final 2022\Kontekstual TB\df_fktpnonkapitasi_cleaned.csv', index=False)

# <span style="color:red">Data Construction

### <span style="color:red">Menghitung Usia Peserta:

In [34]:
df_kepesertaan_cleaned.loc[:, 'Usia'] = (pd.to_datetime('today') - pd.to_datetime(df_kepesertaan_cleaned['PSTV03'])).dt.days // 365

C:\Users\jesic\AppData\Local\Temp\ipykernel_14356\10163623.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_kepesertaan_cleaned.loc[:, 'Usia'] = (pd.to_datetime('today') - pd.to_datetime(df_kepesertaan_cleaned['PSTV03'])).dt.days // 365

### <span style="color:red">Menambahkan Fitur Berdasarkan Waktu

In [35]:
# Menambahkan fitur berdasarkan bulan dan tahun dari Tanggal Kunjungan FKRTL (FKL03)
df_fkrtl_cleaned.loc[:,'Bulan_Kunjungan_FKRTL'] = df_fkrtl_cleaned['FKL03'].dt.month
df_fkrtl_cleaned.loc[:,'Tahun_Kunjungan_FKRTL'] = df_fkrtl_cleaned['FKL03'].dt.year

C:\Users\jesic\AppData\Local\Temp\ipykernel_14356\2649330434.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fkrtl_cleaned.loc[:,'Bulan_Kunjungan_FKRTL'] = df_fkrtl_cleaned['FKL03'].dt.month
C:\Users\jesic\AppData\Local\Temp\ipykernel_14356\2649330434.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fkrtl_cleaned.loc[:,'Tahun_Kunjungan_FKRTL'] = df_fkrtl_cleaned['FKL03'].dt.year

In [36]:
# Menambahkan fitur berdasarkan bulan dan tahun dari Tanggal Kunjungan FKTP (PNK03)
df_fktpnonkapitasi_cleaned.loc[:, 'Bulan_Kunjungan_FKTP'] = df_fktpnonkapitasi_cleaned['PNK03'].dt.month
df_fktpnonkapitasi_cleaned.loc[:, 'Tahun_Kunjungan_FKTP'] = df_fktpnonkapitasi_cleaned['PNK03'].dt.year

C:\Users\jesic\AppData\Local\Temp\ipykernel_14356\2546676883.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fktpnonkapitasi_cleaned.loc[:, 'Bulan_Kunjungan_FKTP'] = df_fktpnonkapitasi_cleaned['PNK03'].dt.month
C:\Users\jesic\AppData\Local\Temp\ipykernel_14356\2546676883.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fktpnonkapitasi_cleaned.loc[:, 'Tahun_Kunjungan_FKTP'] = df_fktpnonkapitasi_cleaned['PNK03'].dt.year

### <span style="color:red">Menghitung Frekuensi Kunjungan:

In [37]:
fkrtl_freq = df_fkrtl_cleaned.groupby('PSTV01')['FKL03'].count().reset_index(name='Frekuensi_Kunjungan_FKRTL')
df_kepesertaan_cleaned = df_kepesertaan_cleaned.merge(fkrtl_freq, on='PSTV01', how='left')

In [38]:
fktp_freq = df_fktpnonkapitasi_cleaned.groupby('PSTV01')['PNK03'].count().reset_index(name='Frekuensi_Kunjungan_FKTP')
df_kepesertaan_cleaned = df_kepesertaan_cleaned.merge(fktp_freq, on='PSTV01', how='left')

### <span style="color:red">Segmentasi Berdasarkan Klasifikasi Usia

In [39]:
bins = [0, 18, 60, 100]
labels = ['Muda', 'Dewasa', 'Lansia']
df_kepesertaan_cleaned['Kategori_Usia'] = pd.cut(df_kepesertaan_cleaned['Usia'], bins=bins, labels=labels)

### <span style="color:red">Menambahkan Fitur Berdasarkan Fasilitas Kesehatan:

In [40]:
df_kepesertaan_cleaned['Jenis_Faskes'] = df_kepesertaan_cleaned['PSTV12']  # Jenis Fasilitas Kesehatan yang Digunakan
df_kepesertaan_cleaned['Provinsi_Faskes'] = df_kepesertaan_cleaned['PSTV13']  # Provinsi Fasilitas Kesehatan

In [41]:
df_kepesertaan_cleaned['Segmentasi_Kunjungan'] = pd.cut(df_kepesertaan_cleaned['Frekuensi_Kunjungan_FKRTL'],
                                                         bins=[0, 1, 5, 10, 100],
                                                         labels=['Sangat Sedikit', 'Sedikit', 'Biasa', 'Banyak'])

In [42]:
df_kepesertaan_cleaned

,PSTV01,PSTV03,PSTV05,PSTV09,PSTV10,PSTV12,PSTV13,PSTV15,PSTV16,Usia,Frekuensi_Kunjungan_FKRTL,Frekuensi_Kunjungan_FKTP,Kategori_Usia,Jenis_Faskes,Provinsi_Faskes,Segmentasi_Kunjungan
0,21611150,1957-09-12,1,0,2,2,0,1.157796,2019,67,25.0,NaN,Lansia,2,0,Banyak
1,94343049,1961-12-03,0,0,8,2,0,1.556821,2019,63,17.0,NaN,Lansia,2,0,Banyak
2,83393824,2002-10-05,0,0,8,2,0,1.159913,2019,22,3.0,NaN,Dewasa,2,0,Sedikit
3,328537885,1989-07-13,1,0,6,2,0,9.436164,2019,35,7.0,1.0,Dewasa,2,0,Biasa
4,67805935,1972-11-13,0,0,6,2,0,0.899331,2019,52,11.0,NaN,Dewasa,2,0,Banyak
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94961,446945417,1984-12-31,0,21,300,2,21,3.70605,2019,40,8.0,NaN,Dewasa,2,21,Biasa
94962,339605943,1989-03-17,1,8,460,2,8,35.093258,2019,36,5.0,NaN,Dewasa,2,8,Sedikit
94963,292512825,1979-05-31,1,32,97,0,32,2.652437,2019,45,8.0,NaN,Dewasa,0,32,Biasa
94964,412069355,1970-02-17,0,33,486,0,33,14.15259,2019,55,1.0,NaN,Dewasa,0,33,Sangat Sedikit
94965,354440860,2000-09-23,1,9,396,2,9,1.2245,2019,24,20.0,NaN,Dewasa,2,9,Banyak

In [43]:
df_fkrtl_cleaned

,PSTV01,FKL03,FKL05,FKL06,FKL07,FKL08,FKL12,FKL14,Bulan_Kunjungan_FKRTL,Tahun_Kunjungan_FKRTL
0,96934726,2015-01-21,23,121,2,2,PPU,Sehat,1,2015
1,11315168,2015-01-13,23,121,2,2,PPU,Sehat,1,2015
2,48014275,2016-01-02,23,121,2,2,PBI APBN,Sehat,1,2016
3,78552717,2016-01-08,23,121,2,2,PBPU,Sehat,1,2016
4,48014275,2016-01-11,23,121,2,2,PBI APBN,Sehat,1,2016
...,...,...,...,...,...,...,...,...,...,...
1583237,5759906,2019-12-18,5,151,3,2,PBI APBD,Sehat,12,2019
1583238,34060166,2019-12-18,5,151,3,2,PPU,Sehat,12,2019
1583239,53933488,2019-12-22,5,151,3,2,PBI APBD,Sehat,12,2019
1583240,27230440,2020-12-11,5,151,3,2,PBI APBN,Sehat,12,2020
1583241,23942287,2020-12-28,5,151,3,2,PBI APBN,Sehat,12,2020

In [44]:
df_fktpnonkapitasi_cleaned

,PSTV01,PNK03,PNK06,PNK07,PNK09,PNK10,PNK12,Bulan_Kunjungan_FKTP,Tahun_Kunjungan_FKTP
0,93858078,2015-02-26,27,35,5,RAWAT INAP,PBI APBN,2,2015
1,93747649,2015-09-21,12,440,5,RAWAT INAP,PBI APBN,9,2015
2,359887820,2019-09-26,23,112,2,KLINIK RAWAT INAP,PPU,9,2019
3,84126594,2019-09-09,9,377,5,RAWAT INAP,PBI APBN,9,2019
4,87558937,2019-10-14,9,130,5,RAWAT INAP,PBI APBN,10,2019
...,...,...,...,...,...,...,...,...,...
36488,107435122,2018-08-06,27,458,5,RAWAT INAP,PBI APBN,8,2018
36489,447273237,2019-03-09,10,454,5,RAWAT INAP,PBPU,3,2019
36490,80686271,2018-01-20,24,375,5,NON RAWAT INAP,PBI APBD,1,2018
36491,93887676,2017-05-03,24,375,5,NON RAWAT INAP,PBI APBD,5,2017
36492,93887676,2016-08-01,24,375,5,NON RAWAT INAP,PBI APBD,8,2016

### <span style="color:red">Menyimpan data-data cleaned

In [46]:
df_kepesertaan_cleaned.to_csv('D:\Data Sampel Final 2022-20230608T163803Z-001\Data Sampel Final 2022\Kontekstual TB\df_kepesertaan_cleaned.csv', index=False)
df_fkrtl_cleaned.to_csv('D:\Data Sampel Final 2022-20230608T163803Z-001\Data Sampel Final 2022\Kontekstual TB\df_fkrtl_cleaned.csv', index=False)
df_fktpnonkapitasi_cleaned.to_csv('D:\Data Sampel Final 2022-20230608T163803Z-001\Data Sampel Final 2022\Kontekstual TB\df_fktpnonkapitasi_cleaned.csv', index=False)

# <span style="color:red">Data Integration

### <span style="color:red">Menggabungkan Data Berdasarkan ID Peserta (PSTV01)

In [48]:
df_merged_fkrtl = pd.merge(df_kepesertaan_cleaned, df_fkrtl_cleaned, on='PSTV01', how='inner')

In [50]:
df_final_merged = pd.merge(df_merged_fkrtl, df_fktpnonkapitasi_cleaned, on='PSTV01', how='inner')

In [51]:
df_final_merged.head()

,PSTV01,PSTV03,PSTV05,PSTV09,PSTV10,PSTV12,PSTV13,PSTV15,PSTV16,Usia,...,Bulan_Kunjungan_FKRTL,Tahun_Kunjungan_FKRTL,PNK03,PNK06,PNK07,PNK09,PNK10,PNK12,Bulan_Kunjungan_FKTP,Tahun_Kunjungan_FKTP
0,328537885,1989-07-13,1,0,6,2,0,9.436164,2019,35,...,2,2021,2020-05-30,0,6,5,RAWAT INAP,PBI APBD,5,2020
1,328537885,1989-07-13,1,0,6,2,0,9.436164,2019,35,...,3,2019,2020-05-30,0,6,5,RAWAT INAP,PBI APBD,5,2020
2,328537885,1989-07-13,1,0,6,2,0,9.436164,2019,35,...,3,2019,2020-05-30,0,6,5,RAWAT INAP,PBI APBD,5,2020
3,328537885,1989-07-13,1,0,6,2,0,9.436164,2019,35,...,3,2019,2020-05-30,0,6,5,RAWAT INAP,PBI APBD,5,2020
4,328537885,1989-07-13,1,0,6,2,0,9.436164,2019,35,...,7,2019,2020-05-30,0,6,5,RAWAT INAP,PBI APBD,5,2020

### <span style="color:red">Verifikasi Data Gabungan

In [53]:
df_final_merged.isnull().sum()

PSTV01                            0
PSTV03                            0
PSTV05                            0
PSTV09                            0
PSTV10                            0
PSTV12                            0
PSTV13                            0
PSTV15                            0
PSTV16                            0
Usia                              0
Frekuensi_Kunjungan_FKRTL         0
Frekuensi_Kunjungan_FKTP          0
Kategori_Usia                    39
Jenis_Faskes                      0
Provinsi_Faskes                   0
Segmentasi_Kunjungan         482686
FKL03                             0
FKL05                             0
FKL06                             0
FKL07                             0
FKL08                             0
FKL12                             0
FKL14                             0
Bulan_Kunjungan_FKRTL             0
Tahun_Kunjungan_FKRTL             0
PNK03                             0
PNK06                             0
PNK07                             0
PNK09                             0
PNK10                             0
PNK12                             0
Bulan_Kunjungan_FKTP              0
Tahun_Kunjungan_FKTP              0
dtype: int64

In [54]:
df_final_merged.duplicated(subset='PSTV01').sum()

1250986

### <span style="color:red">Menangani Data Duplicates

In [56]:
df_final_merged_cleaned = df_final_merged.drop_duplicates(subset='PSTV01')

In [57]:
df_final_merged_cleaned.duplicated(subset='PSTV01').sum()

0

In [60]:
# Menyimpan dataset yang telah digabungkan
df_final_merged_cleaned.to_csv('D:\Data Sampel Final 2022-20230608T163803Z-001\Data Sampel Final 2022\Kontekstual TB\df_final_merged_cleaned.csv', index=False)

In [63]:
df_final_merged_cleaned

,PSTV01,PSTV03,PSTV05,PSTV09,PSTV10,PSTV12,PSTV13,PSTV15,PSTV16,Usia,...,Bulan_Kunjungan_FKRTL,Tahun_Kunjungan_FKRTL,PNK03,PNK06,PNK07,PNK09,PNK10,PNK12,Bulan_Kunjungan_FKTP,Tahun_Kunjungan_FKTP
0,328537885,1989-07-13,1,0,6,2,0,9.436164,2019,35,...,2,2021,2020-05-30,0,6,5,RAWAT INAP,PBI APBD,5,2020
7,75453396,1959-08-25,0,9,59,2,9,10.173553,2019,65,...,8,2019,2019-08-17,9,54,5,RAWAT INAP,BUKAN PEKERJA,8,2019
11,98396595,1963-11-17,0,10,286,1,10,1.258935,2019,61,...,1,2019,2019-07-19,10,265,2,KLINIK RAWAT INAP,PPU,7,2019
101,96362720,1963-06-05,0,10,470,2,10,7.791785,2019,61,...,2,2019,2018-10-30,10,24,3,LABORATORIUM,PPU,10,2018
409,13050306,1949-05-25,0,27,154,2,27,6.025955,2019,76,...,1,2017,2019-06-08,27,136,5,RAWAT INAP,BUKAN PEKERJA,6,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1258824,36617345,1962-05-10,0,31,453,2,31,3.182838,2019,63,...,1,2019,2019-02-19,31,406,5,RAWAT INAP,PBPU,2,2019
1258886,406096111,1958-07-01,0,22,275,2,22,1.144417,2019,66,...,12,2019,2019-12-11,22,381,5,RAWAT INAP,PBI APBN,12,2019
1258887,304128687,1992-08-09,1,10,428,2,10,4.157338,2019,32,...,1,2019,2021-01-02,10,383,5,RAWAT INAP,PBI APBN,1,2021
1258898,382358291,1961-12-10,0,32,374,1,32,2.609354,2019,63,...,1,2020,2019-10-22,32,336,2,KLINIK RAWAT INAP,PBI APBN,10,2019
1258943,402406574,1959-09-09,0,21,467,2,21,5.218708,2019,65,...,2,2019,2019-06-05,21,420,5,RAWAT INAP,PBI APBN,6,2019

In [64]:
df_final_merged_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7961 entries, 0 to 1258943
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   PSTV01                     7961 non-null   object
 1   PSTV03                     7961 non-null   datetime64[ns]
 2   PSTV05                     7961 non-null   int32
 3   PSTV09                     7961 non-null   int32
 4   PSTV10                     7961 non-null   int32
 5   PSTV12                     7961 non-null   int32
 6   PSTV13                     7961 non-null   int32
 7   PSTV15                     7961 non-null   object
 8   PSTV16                     7961 non-null   object
 9   Usia                       7961 non-null   int64
 10  Frekuensi_Kunjungan_FKRTL  7961 non-null   float64
 11  Frekuensi_Kunjungan_FKTP   7961 non-null   float64
 12  Kategori_Usia              7959 non-null   category
 13  Jenis_Faskes               7961 non-null   int32
 14  Provinsi_Faskes            7961 non-null   int32
 15  Segmentasi_Kunjungan       7776 non-null   category
 16  FKL03                      7961 non-null   datetime64[ns]
 17  FKL05                      7961 non-null   int32
 18  FKL06                      7961 non-null   int32
 19  FKL07                      7961 non-null   int32
 20  FKL08                      7961 non-null   int32
 21  FKL12                      7961 non-null   object
 22  FKL14                      7961 non-null   object
 23  Bulan_Kunjungan_FKRTL      7961 non-null   int32
 24  Tahun_Kunjungan_FKRTL      7961 non-null   int32
 25  PNK03                      7961 non-null   datetime64[ns]
 26  PNK06                      7961 non-null   int32
 27  PNK07                      7961 non-null   int32
 28  PNK09                      7961 non-null   int32
 29  PNK10                      7961 non-null   object
 30  PNK12                      7961 non-null   object
 31  Bulan_Kunjungan_FKTP       7961 non-null   int32
 32  Tahun_Kunjungan_FKTP       7961 non-null   int32
dtypes: category(2), datetime64[ns](3), float64(2), int32(18), int64(1), object(7)
memory usage: 1.4+ MB